body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#session, #break, #clock-buttons {
    display: flex;
    align-items: center;
}
